/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(0deg, rgb(95, 23, 189) 20%, rgb(180, 43, 150) );
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 10px;
}

.form .input-box {
  width: 100%;
  margin-top: 5px;
}

fieldset {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #c2cbce;
    box-shadow: 2px 2px 2px #c2cbce;
}

legend {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

textarea {
    padding: 10px;
    resize: none;
    outline: none;
    width: 90%;
    margin-left: 30px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button {
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(95, 23, 189);
}

.date{
  margin-left: 150px;
  width: 115px; 
}

.form button:hover {
  background: rgb(180, 43, 150);
}

/*Responsive*/
@media screen and (max-width: 500px) {
  
    * {
        line-height: 1.5;
    }

    textarea {
        margin-left: 15px;
        padding: 20px; 
    }

    .container {
        margin: 10px 0px 75px 0px;
        
    }
    .date{
      margin-left: 20px;
    }

}
@media screen and (max-width: 360px) {
  
  .date{
    margin-left: 5px;
  }

}
@media screen and (max-width: 330px) {
  
  .date{
    margin-left: 5px;
  }

}